input[type=text],input[type=number], select {
          width: 100%;
          padding: 10px 20px;
          margin: 0px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
}